#!/usr/bin/bash
# Aliases
ALIASFILE="$HOME/.aliases.sh"
[[ -f "$ALIASFILE" ]] && source "$ALIASFILE"

# Prompt teme
eval "$(starship init bash)"

# Editor
export EDITOR={{ .editor | quote }}

# When changing directory small typos can be ignored by bash
# for example, cd /vr/lgo/apaache would find /var/log/apache
shopt -s cdspell

# Don't put duplicate lines in the history.
export HISTCONTROL="ignoreboth"

# Ignore some controlling instructions
# HISTIGNORE is a colon-delimited list of patterns which should be excluded.

# exit and history commands
HISTIGNORE="exit*( ):history*( )"
# cls command
HISTIGNORE="cls*( ):${HISTIGNORE}"
# 1-2 character commands
HISTIGNORE="?*( ):??*( ):${HISTIGNORE}"
export HISTIGNORE
